// Index

- content_for :theme_class do
  = "set-theme-#{@campus.slug}"
= render "campus", object: @campus
%hr.separator.medium
= render "campus_assets"

- content_for :theme_class do
  = "set-theme-#{@equipment.slug}"
= render "equipment", object: @equipment
%hr.separator.medium
= render "equipment_assets"
