:coffee
  bindWidths = ->
    $windowSize = $(this).width()
    $(".set-theme-#{object.slug}").css
      "background": "#{parent.gradient_color_one}"
      "background-image": "linear-gradient(#{parent.gradient_color_one}, #{parent.gradient_color_two})"
    $(".set-theme-aside-#{parent.slug}").css
      "background-color": "#{parent.background_color_two}"

    # Breadcrumbs Links
    $(".breadcrumbs .link").css
      "color": "white"
    $(".breadcrumbs .link").hover(->
      $(this).css
        "color": "#{parent.hover_color_two}"
    ).mouseout ->
      $(this).css
        "color": "white"

    # Links
    $(".set-theme-aside-#{parent.slug} .link").css
      "color": "#{parent.font_color_one}"
    $(".set-theme-aside-#{parent.slug} .link").hover(->
      $(this).css
        "color": "#{parent.hover_color_one}"
    ).mouseout ->
      $(this).css
        "color": "#{parent.font_color_one}"

  $(document).on 'turbolinks:load', ->
    bindWidths()
    Turbolinks.clearCache()
    return
  $(window).resize ->
    bindWidths()
    Turbolinks.clearCache()
    return
