// Show

- content_for :theme_class do
  = "set-theme-#{@academy_course_section.slug}"
- content_for :theme_aside_class do
  = "set-theme-aside-#{@academy_course.slug}"
= render "breadcrumbs",                       parent: @academy_course
= render "section",                           parent: @academy_course, object: @academy_course_section
= render "section_theme",                     parent: @academy_course, object: @academy_course_section
= render "lib/components/courses/menu_aside", grandparent: @academy_category, parent: @academy_course, objects: @academy_course_sections
