// Menu aside

.menu-aside.col-240-1-1.left
  .menu-aside-box.col-240-1-1
    .menu-aside-wrapper.col-240-1-1
      - objects.each do |object|
        .menu-aside-item.col-240-1-1
          = link_to object.title, course_section_path(parent, object), class: "link small", style: "color: #{parent.font_color_one}"
      - if parent.tutors.presence
        .menu-aside-item.col-240-1-1
          = link_to "Tutores", course_tutors_path(parent), class: "link small", style: "color: #{parent.font_color_one}"
      - if parent.document_box.presence
        .menu-aside-item.col-240-1-1
          = link_to "Descarregar PDF", parent.document_box.url.to_s, class: "link small", target: "_blank", style: "color: #{parent.font_color_one}"
      .menu-aside-item.col-240-1-1
        = link_to "Pré-inscrições", category_enrollments_path(grandparent), class: "link small", style: "color: #{parent.font_color_one}"
