// Equipment

.main.col-960-1-1
  .main-box.col-960-1-1
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
    .main-item.col-960-4-1
      = image_tag "http://via.placeholder.com/470x270", class: "left"
