// Menu

- if fetch_primary_urls.presence
  .menu
    %ul.menu-box
      - fetch_primary_urls.each do |object|
        - if object[:id] == 3
          %li{ class: "menu-item #{active_class(object[:url])}" }
            = link_to object[:title], object[:url], class: "link nano left #{object[:klass]}"
            = render "lib/components/menu_dropdown"
        - else
          %li{ class: "menu-item #{active_class(object[:url])}" }
            = link_to object[:title], object[:url], class: "link nano left"
