// Courses theme

- if object.cover_box_magestil.presence
  :coffee
    bindWidths = ->
      $windowSize = $(this).width()
      $(".set-theme-#{object.slug}").css
        "background-color": "#{object.gradient_color_one}"
        "background-image": "url(" + "#{object.cover_box_magestil_url}" + ")"
      return
    $(document).on "turbolinks:load", ->
      bindWidths()
      Turbolinks.clearCache()
      return
    $(window).resize ->
      bindWidths()
      Turbolinks.clearCache()
      return
- else
  :coffee
    bindWidths = ->
      $windowSize = $(this).width()
      $(".set-theme-#{object.slug}").css
        "background-color": "#{object.gradient_color_one}"
        "background-image": "linear-gradient(#{object.gradient_color_one}, #{object.gradient_color_two})"
      return
    $(document).on "turbolinks:load", ->
      bindWidths()
      Turbolinks.clearCache()
      return
    $(window).resize ->
      bindWidths()
      Turbolinks.clearCache()
      return
