// Courses theme

- if object.cover_box_magestil.presence
  :coffee
    bindWidths = ->
      $windowSize = $(this).width()
      $(".set-theme-#{object.slug}").css
        "background-color": "#{object.gradient_color_fallback}"
        "background-image": "url('#{object.cover_box_magestil_url}')"

      # Breadcrumbs Links
      $(".breadcrumbs .link").css
        "color": "white"
      $(".breadcrumbs .link").hover(->
        $(this).css
          "color": "#{object.hover_color_two}"
      ).mouseout ->
        $(this).css
          "color": "white"

      # Billboard Button
      $(".billboard .button").css
        "color": "white",
        "background-color": "#{object.hover_color_one}"
      $(".billboard .button").hover(->
        $(this).css
          "color": "#{object.font_color_one}",
          "background-color": "#{object.hover_color_two}"
      ).mouseout ->
        $(this).css
          "color": "white",
          "background-color": "#{object.hover_color_one}"

    $(document).on "turbolinks:load", ->
      bindWidths()
      Turbolinks.clearCache()
      return
    $(window).resize ->
      bindWidths()
      Turbolinks.clearCache()
      return
- else
  :coffee
    bindWidths = ->
      $windowSize = $(this).width()
      $(".set-theme-#{object.slug}").css
        "background-color": "#{object.gradient_color_fallback}"
        "background-image": "linear-gradient(#{object.gradient_color_one}, #{object.gradient_color_two})"
      return
    $(document).on "turbolinks:load", ->
      bindWidths()
      Turbolinks.clearCache()
      return
    $(window).resize ->
      bindWidths()
      Turbolinks.clearCache()
      return
