// Courses

.billboard
  .billboard-box
    .billboard-item.top
      - if object.title.presence
        %h1.large{ style: "color: #{object.font_color_one}" }= object.title
    .billboard-item.middle
      - if object.description.presence
        %p.small{ style: "color: #{object.font_color_one}" }= object.description
    .billboard-item.bottom
      = link_to t("read_more"), course_sections_path(object), class: "button tiny left", style: "color: #{object.font_color_one} !important; background-color: #{object.font_color_two} !important;"
