// Show

- content_for :theme_class do
  = "set-theme-#{@academy_course.slug}"
= render "breadcrumbs"
= render "courses",       object: @academy_course
= render "courses_theme", object: @academy_course
