// Form

.main.col-960-1
  = form_with model: object, url: newsletter_index_path, class: "col-960-1" do |form|
    %fieldset.main-box.col-960-1
      .main-item.col-960-6-4
        = form.text_field :email, placeholder: "O seu email..."
      .main-item.col-960-6-2
        = form.submit "Subscrever", class: "button small green left"
      -#
        %hr.separator.medium
        .main-item.col-960-1-1
          .checkbox.underline.left
            = form.check_box :accept_terms, class: "left"
            = form.label "Autorizo a utilização dos meus dados pessoais para fins de candidatura com vista a receber formação, não podendo os mesmos ser tratados posteriormente de uma forma incompatível com a finalidade aqui referida."
