// Form

.main.col-960-1
  = form_with model: object, url: newsletter_index_path, class: "col-960-1" do |form|
    %fieldset.main-box.col-960-1
      .main-item.col-960-6-4
        = form.text_field :email, placeholder: "O seu email..."
      .main-item.col-960-6-2
        = form.submit "Subscrever", class: "button small green left"

      %hr.separator.medium
      .main-item.col-960-1-1
        .checkbox.underline.left
          = form.check_box :accept_terms, class: "left"
          = form.label :accept_terms, "A Magensinus assume o compromisso de privacidade e segurança das informações pessoais. A informação colhida neste registo será utilizada apenas para os fins acima indicados, única e exclusivamente pela escola e não será cedida a terceiros. Nos termos da lei, a qualquer momento poderá solicitar o acesso e alteração dos seus dados, retirar o consentimento prestado neste registo ou solicitar a remoção/esquecimento total dos mesmos, enviando um email com a respetiva solicitação: dpo@magestil.pt."
