// Index

.panel-one
  - cache "contact" do
    .main.col-960-2-1
      .main-box.col-960-2-1
        .main-item.col-960-2-1
          %h1= @contact.title
        .main-item.col-960-2-1
          %p.medium= @contact.description
      .main-box.col-960-2-1
        .main-item.col-960-2-1
          - if @contact.address_one.presence
            %p.small= @contact.address_one
          - if @contact.address_two.presence
            %p.small= @contact.address_two
          - if @contact.postcode.presence && @contact.city.presence
            %p.small
              = @contact.postcode
              = @contact.city
          - if @contact.country.presence
            %p.small= @contact.country
        .main-item.col-960-2-1
          - if @contact.phone.presence
            %p.small
              #{t('contact.phone')}:
              = @contact.phone
          - if @contact.fax.presence
            %p.small
              #{t('contact.fax')}:
              = @contact.fax
          - if @contact.email.presence
            %p.small
              #{t('contact.email')}:
              = @contact.email
    .main.col-960-2-1
      .main-box.col-960-2-1
        .main-item.col-960-2-1
          #map
