!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "text/html"}/
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %meta{ content: "initial-scale=1.0, width=device-width", name: "viewport" }/
    %title Magestil
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    // We Love Cookies
    - if cookies[:WeLoveCookies].presence
      // Google Analytics
      %script{ src: "https://www.googletagmanager.com/gtag/js?id=#{ENV["GOOGLE_ID"]}" }
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());

        gtag("config", "#{ENV["GOOGLE_ID"]}");
  %body.home
    - if fetch_featured_article.presence && (current_page?(root_path) || current_page?("/home"))
      // Featured
      .universal#featured
        .universal-box
          .universal-item
            = render "lib/components/featured"
    // Header
    .universal#header
      .universal-box
        .universal-item
          = render "lib/components/brand"
          = render "lib/components/menu"
        .universal-item
          = render "lib/components/menu_responsive"
    .panel
      %div{ class: "theme #{ yield :theme_class if content_for?(:theme_class)}" }
        // Container top
        .universal#container-top
          .universal-box
            .universal-item
              = yield :breadcrumbs
        // Container
        .universal#container
          .universal-box
            .universal-item
              = yield
        // Container bottom
        .universal#container-bottom
          .universal-box
            .universal-item
    // Footer
    .universal#footer
      .universal-wide
        = render "lib/components/networks"
      .universal-box
        .universal-item
          = render "lib/components/sitemap"
        .universal-item
          %hr.separator.medium
          = render "lib/components/brand_footer"
          %hr.separator.medium
        .universal-item
          = render "lib/components/badges"
          %hr.separator.tiny
      .universal-wide.blue-darker-bg
        %hr.separator.small
        = render "lib/components/terms_and_conditions"
        %hr.separator.nano
      .universal-wide.blue-darker-bg
        = render "lib/components/copyright"
        %hr.separator.tiny
    = render "lib/components/cookies"
