!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "text/html"}/
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %meta{ content: "initial-scale=1.0, width=device-width", name: "viewport" }/
    %title Magestil
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body.home
    // Header
    .universal#header
      .universal-box
        .universal-item
          = render "lib/components/brand"
          = render "lib/components/menu"
        .universal-item
          = render "lib/components/menu_responsive"
    .panel
      %div{ class: "theme #{ yield :theme_class if content_for?(:theme_class)}" }
        // Container top
        .universal#container-top
          .universal-box
            .universal-item
              = yield :breadcrumbs
        // Container
        .universal#container
          .universal-box
            .universal-item
              = yield
        // Container bottom
        .universal#container-bottom
          .universal-box
            .universal-item
    // Footer
    .universal#footer
      .universal-box
        .universal-item
          = render "lib/components/sitemap"
          = render "lib/components/brand_footer"
          = render "lib/components/networks"
        .universal-item
          = render "lib/components/badges"
        .universal-item
          = render "lib/components/copyright"
